@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  width: 315px;
  padding-top: 15px;
  gap: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.image-qr-code {
  width: 280px;
  height: 280px;
  border-radius: 15px;
  flex-shrink: 0;
}

.improve {
  color: var(--slate-900);
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}

.next-level {
  margin: 19px 36px 45px 36px;
  color: var(--slate-500);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.attribution {
  font-size: 12px;
  margin-top: 28px;
  text-align: center;
}

.attribution a {
  color: var(--slate-900);
}

@media screen and (max-width: 375px) {
  .container {
    margin: auto;
  }
}

@media screen and (max-width: 345px) {
  .container {
    width: 315px;
    margin: auto;
  }

  .improve {
    font-size: 15px;
  }

  .next-level {
    font-size: 10px;
  }
}

