@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  width: 330px;
  padding-top: 15px;
  text-align: center;
  gap: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.image-qr-code {
  width: 300px;
  border-radius: 15px;
  margin: 0px;
}

.improve {
  max-width: 280px;
  font-size: 23px;
  color: var(--slate-900);
  font-weight: 800;
}

.next-level {
  color: var(--slate-500);
  font-weight: 600;
  max-width: 280px;
  padding-bottom: 40px;
}

.attribution {
  font-size: 12px;
  margin-top: 100px;
  text-align: center;
}

.attribution a {
  color: var(--slate-900);
}

@media screen and (max-width: 375px) {
  .container {
    margin: auto;
  }
}

@media screen and (max-width: 345px) {
  .container {
    width: 290px;
    margin: auto;
  }

  .improve {
    font-size: 15px;
  }

  .next-level {
    font-size: 10px;
  }
}
